
        .footer-section{
        background:#222;
        color:white;
        padding:0.5em;
        font-size:0.9em;
        }
        .col-md-4 a{
        color:gray;
        }

        h4{
        background:#222;
        color:#aaa;
        padding:.5em 0;
        }

        .skill-section,.portfolio-section{
         border-radius:.3em;
         padding:.5em 0;

        }

      ul
       {
         list-style-type:none;
          padding:.5em;
       }
       .col-md-4{
       text-align:center;

       }
       .skill-section .fa-diamond, .skill-section .fa-cloud, .skill-section .fa-mobile-phone{
       font-size:3em;

       }

        .section{
        background:white;
        border-left:.1em solid gray;
        border-right:.1em solid gray;

        }


        .about-section,.contact-section{
        padding:.5em;
        }
        .footer-section ul a{
        background:#222;
        color:#aaa;
        padding:.5em;

        }
        body
        {
        background:#aaa;
        font-family:'Avnir light',Futura,Georgia,Bodoni;
        font-size:1em;

        }
        h5{
        font-weight:bold;
        color:navy;
        }

        em{
        color:gray
        }
        h3,h4,h5{
        font-family:'Amatic SC','Playfair Display',Couriel,Arial;
        }
        .footer-section a:hover{
        color:#ccc;
        text-decoration:none;
        }

        .portfolio-section a:hover{
        color:blue;
        text-decoration:none;
        }
        div.about-section{
         padding:1.5em;

        }
        
        body{
        
        line-height:1.8em;
        }



